<h1> App Academy Times</h1>


<ul>
    <li>
        Tuesday, October 18, 2016
    </li>
    <li>
        <a href="">Today's Paper</a>
    </li>
    <li>
       📹 Video
    </li>
    <li>
        Tuesday, October 18, 2016
    </li>
    <li>
        77F
    </li>
    <li>
       AAO <span>+100%</span>
    </li>
</ul>
